<ion-header no-border>
  <ion-toolbar color="dark">
    
        <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title style="text-align:left;">{{lista.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-list >
        <ion-item no-border>
          <ion-label position="floating">Nueva tarea</ion-label>
          <ion-input type="text" [(ngModel)]="nombreItems" (keyup.enter) = "agregarItems()"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list >
        <ion-list-header *ngIf="lista.items.length != 0">    
            <ion-label >tareas por hacer</ion-label>        
        </ion-list-header>

        <ion-item-sliding *ngFor="let lista of lista.items; let i = index">
            <ion-item >
              <ion-checkbox slot="start" color="primary" [(ngModel)]= "lista.completado" (ionChange)="cambioCompletado(lista)"></ion-checkbox>
              <ion-label >{{lista.desc}}</ion-label>
            </ion-item>
      
            <ion-item-options side="end">
              <ion-item-option (click)="borrar(i)" color="danger">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-item-option>
            </ion-item-options>
      </ion-item-sliding>

      </ion-list >
</ion-content>
