<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title style="text-align:center;">
      Tareas pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-list color="dark">
      <ion-item *ngFor="let list of lista" detail color="light" (click)="listaSeleccionada(list)">
            <ion-label >
              {{list.titulo}}
            </ion-label>

            <ion-note slot="end">
              {{list.items.length}} items
            </ion-note>

      </ion-item>
      
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentAlert()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
